@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "tailwindcss";
@layer base {
  body {
    font-family: "PT Sans", "Noto Sans TC", system-ui, sans-serif;
  }
}